/.idea/
/src/main/resources/
/target/
/target/classes/
/target/test-classes/
/target/test-classes/CreateClientTest.class
/target/test-classes/CreateOrderTest.class
/target/test-classes/GetOrdersTest.class
/target/test-classes/LoginClientTest.class
/target/test-classes/UpdateClientTest.class
/target/classes/org/
/target/classes/org/example/
/target/classes/org/example/client/
/target/classes/org/example/order/
/target/classes/org/example/client/Client.class
/target/classes/org/example/client/ClientSteps.class
/target/classes/org/example/order/Order.class
/target/classes/org/example/order/OrderSteps.class
/target/classes/
/target/test-classes/
/target/test-classes/GetOrdersTest.class
/target/test-classes/CreateClientTest.class
/target/test-classes/LoginClientTest.class
/target/test-classes/
/target/test-classes/UpdateClientTest.class
/target/test-classes/CreateOrderTest.class
/target/classes/org/example/order/OrderSteps.class
/target/classes/org/example/order/
/target/classes/org/example/client/ClientSteps.class
/target/classes/org/example/client/Client.class
/target/classes/org/example/client/
/target/classes/org/example/
/target/classes/org/
/target/classes/
/target/classes/
/target/test-classes/UpdateClientTest.class
/target/test-classes/LoginClientTest.class
/target/test-classes/GetOrdersTest.class
/target/test-classes/CreateOrderTest.class
/target/test-classes/CreateClientTest.class
/target/test-classes/
